.App-Header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: orange;
  border-bottom: 4px solid darken(orange, 5%);
}

.App-Logo {
  display: inline;
  margin: 0;
  &--icon {
    width: 40px;
    height: auto;
  }
  &--title {
    color: #333;
    font-size: 2.2rem;
  } 
}

.App-Navigation {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border-top: 2px dashed darken(orange, 5%);
}

.App-Navigation--link {
  list-style: none;
  margin: 10px 20px 0 0;
  a {
    color: white;
    text-decoration: none;
  }
}

.App-Logout {
  background: transparent;
  border: 1px solid black;
  color: black;
  &:hover {
    background: lighten(black, 10%);
  }
}