body {
	font-family: sans-serif;
}

.App-Header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	max-height: 60px;
	background: orange;
}

.App-Logo {
	display: flex;
	margin: 0;
	img {
		width: 40px;
		height: auto;
		margin-right: 10px;
	}
}

.App-Navigation {
	display: inline-flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

.App-Navigation--link {
	list-style: none;
	margin: 0 10px;
	margin: 0 10px;
	a {
		color: white;
		text-decoration: none;
	}
}

